
<button mat-mini-fab  class="m-2" >
  <mat-icon routerLink="/">keyboard_backspace</mat-icon>
</button>

<div class="alert alert-success mt-3" *ngIf="this.status">
  <strong>Success!</strong> {{status}}
</div>

<form [formGroup]="transactionForm"  (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="date">Date:</label>
    <input type="hidden" class="form-control"  formControlName="id" id="id" >
    <input type="date" class="form-control" formControlName="date" id="date" required placeholder="dd-mm-yyyy">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1" >Description:</label>
    <textarea class="form-control" id="desc" rows="3" required formControlName="description" ></textarea>
  </div>
  <div class="form-group" >
    <label for="mode">Payment Mode: ex (Credit/Debit)</label>
    <input type="input" class="form-control" required id="paymentMode" placeholder="Payment Mode" formControlName="paymentMode" >
  </div>
  <div class="form-group">
    <label for="amount">Cost:</label>
    <input type="input" class="form-control" required id="cost" placeholder="Amount" formControlName="cost" >
  </div>
  <button type="submit" class="btn btn-primary">ADD</button>

</form>